$urbanistFont: 'Urbanist', sans-serif;


* {
    box-sizing: border-box;
    font-family: $urbanistFont;
}

.flex {
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2{
    text-align: center;
}


.header {
    display: flex;
    height: 15%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;

    &__pic {
        display: flex;
        align-items: center;
    }

    &__menu {
        display: flex;
        flex-direction: row;
        margin-top: 35px;
        justify-content: space-between;
        width: 500px;
    }

    &__item {
        &:hover {
            text-decoration: underline;
        }
    }

    &__icon {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100px;
        margin-right: 20px;
    }

}

body {
    margin: 0;
    background: rgb(255, 209, 255);
    background: linear-gradient(133deg, rgba(255, 209, 255, 1) 0%, rgba(252, 234, 213, 1) 49%, rgba(251, 208, 200, 1) 100%);
    min-height: 100vh;
}

.content {
    display: flex;
    justify-content: center;
}

.signin {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-sizing: border-box;
    padding: 5%;
    width: 450px;
    height: 450px;
    left: 52px;
    top: 38px;
    background: white;
    border-radius: 40px;

    
    &__btn{
        background-color: black;
        color: #FFFFFF;
    }

    &__inputs{
            display: flex;
            flex-wrap: wrap;
            border: none;
            border-bottom: 1px solid #626262;
            margin: 8px;

    }

}