/*-----------------GENERAL STYLES----------------*/

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.flex{
    display: flex;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}



/*-----------------SPECIFIC STYLES----------------*/
header {
    position: fixed;
    background: linear-gradient(to right, #FFD1FF, #FBD0C8);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.header__pic {
    display: flex;
    align-items: center;
}
.header__logo {
    padding: 0px;
    height: 70%;
    width:70%;
    object-fit: contain;
    margin-left: 20px;
}

.header__menu {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    justify-content: space-between;
    width: 500px;  
}
a {
    color: black;
}
.header__icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    margin-right: 20px;
}

.menu__item:hover{
    text-decoration: underline;

}

.banner{
    background: linear-gradient(to right, #FFD1FF, #FBD0C8);
    height: 750px;
}

.banner__decoration{
    height: 100%;
    width:100%;
    object-fit: contain;
}

body{
    font-family: 'Urbanist', sans-serif;
    font-style: light;
    margin: 0;    
    
}

h2{
   font-family: 'casanova', normal;
    font-size: 40px;
}
.purpose{
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 20%;

}

.purpose__p{
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    width: 50%;
    
}

.catalogue{
    background-color: #FFE9EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.catalogue__content{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.catalogue__img{
    display: flex;
    justify-content: space-around;
}

.catalogue__button {
    background-color: #0f0f0f; /* Black */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 200px;
    height: 80px;

  }

  .catalogue button{
      margin: 5%;
  }

  .catalogue__button:hover{
    cursor: pointer;
  }

  .productImage{
    width: 320px;
    height: 476px;
  }

  .productContent{
      font-size: 36px;
      font-family: 'Urbanist';
      font-style: normal;
  }
  h4{
      font-size: 20px ;
      font-family: 'Urbanist';
      font-style: light;
  }

/*FOOTER*/
.footer{
    width: 100%;
    background: linear-gradient(to right, #FFD1FF, #FBD0C8);
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    padding-block: 10%;
}

.footer_newsletter{
    display: flex;
    flex-direction: column;
}

h3{
    font-family: 'casanova', normal;
    font-size: 30px; 
}


.footer input{
    padding: 12px;

}

/*MOBILE*/
.mobile__menu{
    display: none;
}